body {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Navbar */
nav.navbar-myPage {
    background-color: #f2f2f3;
    border-color: #f2f2f3;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav.navbar-myPage a {
    color: #95001a;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}

nav.navbar-myPage ul.navbar-nav a {
    color: #95001a;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: rgba(0, 0, 0, 0.0);
    transition: .5s;
}

nav.navbar-myPage .navbar-brand, nav.navbar-myPage .navbar-brand:hover {
    color: #95001a;
}

nav.navbar-myPage ul.navbar-nav a:hover,
nav.navbar-myPage ul.navbar-nav a:visited,
nav.navbar-myPage ul.navbar-nav a:focus,
nav.navbar-myPage ul.navbar-nav a:active {
    background-color: rgba(250, 250, 250, 0);
}

nav.navbar-myPage ul.navbar-nav a:hover {
    color: #95001a;
    border-color: #95001a;
}

.navbar-default .navbar-toggle {
    border-color: #95001a;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #95001a;
}

.navbar {
    margin-bottom: 0px;
}

/* Social Network Links */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%)
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoEnvelope:hover i, .social-network a.icoGithub:hover i, {
    color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 18px;
}
.social-circle li i {
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    transition: all 0.2s;
}
.social-circle i {
    color: #95001a;
    transition: all 0.8s;
}

/* Navigation tabs */
#courseworkSection {
    margin-top: -75px;
    margin-bottom: -100px;
}

.nav-pills > li > a {
    color: #95001a;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #95001a;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #95001a;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #ffffff;
    background-color: #95001a;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #ffffff;
    background-color: #95001a;
}

.centered-pills {  
    text-align: center
}
.centered-pills ul.nav-pills {
    display: inline-block
}
.centered-pills li {
    display: inline
}

ul {
    list-style-type: none;
}

#years {
    text-decoration: none;
    font-weight: 400;
}

.year:hover {
    text-decoration: none;
    font-weight: 400;
}

.year {
    text-decoration: none;
    font-weight: 400;
    line-height: 1.25;
}

.coursework {
    margin-top: -75px;
    background-color: #f2f2f3;
}

/* Classes */
.semester {
    margin-left: 0px;
    font-style: italic;
    font-family: "Open Sans",sans-serif;   
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    color: #01256e;
}

.classA {
    margin-right: 10px;
    margin-left: -10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*padding-top: 40px;
    padding-bottom: 40px;*/
}

dl {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 20%;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0px;
}

/*dl:hover {
    background-color: rgba(0, 0, 0, 0.8);
}*/

dt {
    line-height: 1.25;
    font-size: 32px; /* 60px */
    font-weight: 300;
    text-align: center;
    color: #01256e;    
    padding-bottom: 15px;
}

.class {
    font-weight: 300;
}

dd {
    text-align: center;
    color: #44464b;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.semesterBorder {
    border: 1px solid #95001a;
    border-radius: 4px;
}

.spring {
    padding-top: 50px;
}

#FFal, #aFix, #sophomoreFall {
    margin-right: 0px;
    margin-left: 0px;
}

section {
    padding: 100px 0px;    
    width: 100%;
}

section h2 {
    margin: 0px;
    font-size: 3em;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    line-height: 1.25;
}

section h2 { 
    color: #01256e;
}

#fill {
    height: 257px;
    background-color: #f2f2f3;
}