nav.navbar-myPage {
    background-color: rgba(235, 234, 237, 0);
    border-color: rgba(235, 234, 237, 0);
    padding-top: 20px;
    padding-bottom: 20px;
}

nav.navbar-myPage a {
    color: #95001a;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}

nav.navbar-myPage ul.navbar-nav a {
    color: #95001a;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: rgba(0, 0, 0, 0.0);
    transition: .5s;
}

nav.navbar-myPage .navbar-brand, nav.navbar-myPage .navbar-brand:hover {
    color: #95001a;
}

nav.navbar-myPage ul.navbar-nav a:hover,
nav.navbar-myPage ul.navbar-nav a:visited,
nav.navbar-myPage ul.navbar-nav a:focus,
nav.navbar-myPage ul.navbar-nav a:active {
    background-color: rgba(250, 250, 250, 0);
}

nav.navbar-myPage ul.navbar-nav a:hover {
    color: #95001a;
    border-color: #95001a;
}

.navbar-default .navbar-toggle {
    border-color: #95001a;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #95001a;
}

/* Social Network Links */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%)
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoFacebook:hover i, .social-network a.icoLinkedin:hover i,
.social-network a.icoEnvelope:hover i, .social-network a.icoGithub:hover i, {
    color: #fff;
}

a.socialIcon:hover, .socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 18px;
}
.social-circle li i {
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    transition: all 0.2s;
}
.social-circle i {
    color: #95001a;
    transition: all 0.8s;
}